@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&family=PT+Serif:ital@1&family=Roboto&family=Source+Sans+Pro:wght@600;700&display=swap");

:root {
  /* font */
  --font-size: 18px;
  --font-bold: 700;
  --font-regular: 300;
  --font-medium: 500;

  /* color */
  --gradient-color1: #e7d1c7;
  --gradient-color2: #a597b3;
  --gradient-color3: #3c4372;
  --bg-color: #f8f7f7;
  --footer-color: #a597b3;
  --green-color: #00704a;
  --red-color: #e1342f;
}

body,
html {
  font-family: "Noto Sans KR", sans-serif;
  background-color: var(--bg-color);
  color: #2c2c2c;
  scroll-behavior: smooth;
}

button {
  border: none;
  background: none;
}

a {
  color: var(--bg-color);
  text-decoration: none;
}

.hidden {
  display: none;
}

#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
}

.progress {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  z-index: 1800;
  position: fixed;
  bottom: 60px;
  right: 60px;
}

.progress span {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--bg-color);
  text-align: center;
  line-height: 50px;
  color: var(--gradient-color3);
  font-size: 14px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  z-index: 2000;
  cursor: pointer;
  position: fixed;
  bottom: 65px;
  right: 65px;
}

#header .menu li {
  height: 50px;
  display: inline-block;
  margin: 25px 3.785vw;
  font-size: 1.125rem;
  font-weight: var(--font-medium);
  color: var(--bg-color);
  cursor: pointer;
}

#header .menu li a {
  line-height: 50px;
}

#header .menu li a::after {
  content: "";
  display: block;
  width: 0;
  background-color: var(--bg-color);
  height: 2px;
  transition: width 0.5s;
}

#header .menu li:hover a::after {
  width: 100%;
}

.mobile_menu .menu {
  width: 100%;
  height: 50%;
  background-color: var(--gradient-color2);
  text-align: center;
  padding: 100px 0;
  position: absolute;
  top: 0;
  line-height: 3;
  z-index: 1000;
  transform: translateY(-100%);
  transition: 0.5s;
}

#contents {
  width: 100%;
  height: 500%;
  overflow: hidden;
}

/* home */
canvas {
  width: 100%;
  height: 100vh;
  background-color: #35353c;
}

#moon {
  width: 707px;
  height: 707px;
  border-radius: 50%;
  background: linear-gradient(
    to bottom right,
    var(--gradient-color1),
    var(--gradient-color2),
    var(--gradient-color3)
  );
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#moon .scroll img:nth-child(1) {
  position: absolute;
  top: 30px;
  right: 50px;
  animation: rotate 7s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#moon .scroll img:nth-child(2) {
  position: absolute;
  top: 64px;
  right: 98px;
}

#home_title {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#home_title .title_box {
  overflow: hidden;
}

#home_title .title_box:nth-child(1) {
  animation: leftText 1s 7s forwards;
}
#home_title .title_box:nth-child(2) {
  animation: rightText 1s 7s forwards;
}

@keyframes leftText {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-10%);
  }
}

@keyframes rightText {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(10%);
  }
}

#home_title .main_title {
  font-size: 9.375em;
  font-weight: var(--font-bold);
  display: block;
  color: transparent;
  -webkit-text-stroke: 2px var(--bg-color);
  padding: 25px 0;
  transform: translateY(0);
  /* opacity: 0; */
  animation: clipText 4s 3s backwards;
}

@keyframes clipText {
  0% {
    transform: translateY(100%);
  }
  50% {
    transform: translateY(0);
    color: var(--bg-color);
  }
  100% {
    color: transparent;
  }
}

#ocean {
  width: 100%;
  height: 90%;
  overflow: hidden;
  position: absolute;
  bottom: -5px;
  left: 0;
}

.wave {
  background: url("../images/wave.svg") repeat-x;
  width: 6400px;
  height: 273px;
  position: absolute;
  bottom: -80px;
  animation: wave 6s cubic-bezier(0.37, 0.59, 0.58, 0.36) -0.2s infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  opacity: 30%;
  animation: wave 6s cubic-bezier(0.37, 0.59, 0.58, 0.36) infinite,
    swell 6s ease -1.5s infinite;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%,
  100% {
    transform: translate3d(0, -25px, 0);
  }
  50% {
    transform: translate3d(0, 5px, 0);
  }
}

.top {
  position: relative;
}

/* about */
#about {
  padding: 220px 0;
  width: 100vw;
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 500;
}

#about_wrap {
  padding: 200px 0;
  display: flex;
  justify-content: center;
}

#about_wrap img {
  margin-right: 6vw;
}

#my_info {
  height: 470px;
  width: 885px;
  display: grid;
  grid-template-columns: repeat(5, 177px);
  grid-template-rows: repeat(2, 219px);
}

#my_info .wrap {
  padding-left: 1.788vw;
  height: 219px;
  display: inline-block;
}

.about_title {
  font-size: 30px;
  font-weight: var(--font-bold);
  padding-top: 50px;
  padding-bottom: 28px;
}

.about_content {
  font-size: var(--font-size);
  font-weight: var(--font-regular);
  height: 118px;
}

.aboutMe {
  grid-column: 1/4;
}

.aboutMe > p {
  line-height: 24px;
}

.profile {
  margin-left: 4.048vw;
  grid-column: 4/6;
}

.profile > ul > li {
  line-height: 2;
}

.profile > ul > li > span:nth-child(1) {
  display: inline-block;
  width: 50px;
  margin-right: 30px;
}

.skills {
  margin-top: 32px;
}

.skills ul {
  display: grid;
  grid-template-columns: repeat(5, 163px);
}

.skills ul li {
  width: 91px;
  height: 91px;
  border-radius: 50%;
  background-color: var(--bg-color);
  box-shadow: 10px 10px 15px #e8e7e7, -10px -10px 15px #fff;
  text-align: center;
  line-height: 91px;
}

.skills ul li:hover {
  box-shadow: inset 5px 5px 5px #e8e7e7, inset -5px -5px 5px #fff;
}

/* project */
#project {
  z-index: 1000;
  background-color: var(--bg-color);
}

.project_text {
  height: 700px;
  margin: 96px 0;
  position: relative;
}

.project_text h2 {
  width: 1200px;
  font-size: 86.59px;
  font-weight: var(--font-bold);
  text-align: center;
  line-height: 1.3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.show {
  animation: show 3s 0.5s forwards;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#project_wrap {
  position: relative;
  margin-bottom: 239px;
  height: 750vh;
}

#project_box_wrap {
  opacity: 0;
  width: 300%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* position: absolute; */
  position: fixed;
  top: 55%;
  transform: translateY(-50%);
  opacity: 0;
}

#circle {
  width: 1570px;
  height: 1570px;
  border-radius: 50%;
  background-color: var(--green-color);
  /* position: relative; */
  position: fixed;
  top: -28%;
  right: -20vw;
  transform: scale(0);
}

#circle.expand {
  animation: expand 2s forwards;
}

@keyframes expand {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(100%);
  }
}

#circle.shrink {
  animation: shrink 1s forwards;
}

@keyframes shrink {
  0% {
    transform: scale(100%);
  }
  100% {
    transform: scale(0);
  }
}

.project_box {
  position: relative;
  display: grid;
  grid-template-rows: 0.5fr 1fr 0.5fr;
}

.project_title {
  font-size: 86.33px;
  font-weight: var(--font-bold);
  -webkit-text-stroke: 2px var(--bg-color);
  color: transparent;
  text-align: left;
  margin-bottom: 70px;
}

.project_title span {
  display: block;
  line-height: 1.3;
}

.project_title span:nth-child(1) {
  margin-left: 45vw;
}

.project_title span:nth-child(2) {
  margin-left: 53vw;
}

.project_content {
  display: flex;
  z-index: 10;
  width: 100%;
  height: 100%;
}

.project_content.onePage .img_wrap {
  margin-left: 16vw;
}

.project_content > .btn_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 6vw;
  margin-right: 2.3vw;
}

.project_content > .btn_wrap > button {
  width: 104.28px;
  height: 51px;
  text-align: center;
  line-height: 51px;
  border: 1px solid #2c2c2c;
  border-radius: 15px;
  margin: 31px 0;
  font-size: var(--font-size);
  font-weight: var(--font-regular);
  cursor: pointer;
}

.project_content .img_wrap {
  aspect-ratio: 16 / 9;
  overflow: hidden;
  cursor: n-resize;
}

.project_content .img_wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  transition: 10s;
}

.project_content .img_wrap:hover img {
  object-position: bottom;
}

.project_content .project_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: var(--font-size);
  font-weight: var(--font-regular);
  margin-left: 7.624vw;
  color: var(--bg-color);
}

.spider-man-info {
  line-height: 1.6;
  padding: 5px 0;
}

.project_sub {
  width: 300px;
}

.project_sub li:nth-child(1) {
  font-size: 14px;
  font-weight: var(--font-bold);
}

.project_sub li:nth-child(2) {
  font-size: 24px;
  font-weight: var(--font-medium);
  padding-top: 14px;
  padding-bottom: 19px;
  border-bottom: 1px solid var(--bg-color);
}

.project_desc {
  padding: 53px 0;
  line-height: 2.3;
  width: 600px;
}

.project_desc li span:nth-child(1) {
  width: 45px;
  display: inline-block;
  margin-right: 38px;
}

.project_desc li span:nth-child(2) {
  display: inline-flex;
}

.project_info .btn_wrap button {
  padding: 15px 37px;
  border: 1px solid var(--bg-color);
  color: var(--bg-color);
  margin-right: 54px;
  font-size: 16px;
  cursor: pointer;
}

.project_box .scroll {
  text-align: right;
  margin: 90px 5vw;
}

.project_box .scroll span {
  font-size: var(--font-size);
  font-weight: var(--font-regular);
  color: var(--bg-color);
  padding-right: 20px;
}

.project_box .scroll img {
  position: relative;
  top: 5px;
}

/* contact */
#contact {
  width: 100vw;
  height: 95vh;
  color: var(--bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact_box {
  width: 791px;
  height: 458px;
  perspective: 1500px;
  opacity: 0;
}

.contact_box.show {
  animation: appear 0.5s both;
}

@keyframes appear {
  0% {
    transform: translateX(-150%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s;
}

#front,
#back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  background: linear-gradient(
    to left,
    var(--gradient-color1),
    var(--gradient-color2),
    var(--gradient-color3)
  );
}

.fliped {
  transform: rotateY(180deg);
}

.contact_wrap {
  width: 100%;
  height: 50%;
  position: relative;
}

#contact_title_wrap,
#contact_title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#contact_title_wrap {
  width: 289px;
  height: 85px;
  border: 1px solid var(--bg-color);
}

#contact_title {
  font-size: 42.37px;
  font-weight: var(--font-bold);
  text-align: center;
  line-height: 65px;
  width: 274px;
  height: 70px;
  border: 1px solid var(--bg-color);
}

#contact_content {
  padding-left: 64px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: var(--font-size);
  font-weight: var(--font-regular);
}

#name_address {
  padding-left: 30px;
  border-left: 1px solid var(--bg-color);
}

#name {
  font-size: 24px;
  font-weight: var(--font-bold);
  padding-bottom: 20px;
}

#address {
  line-height: 1.8;
}

#back {
  font-size: 48px;
  font-weight: var(--font-bold);
  text-align: center;
  line-height: 458px;
  transform: rotateY(180deg);
}

.contact_text {
  text-align: center;
  color: #635897;
  padding-top: 30px;
}

/* footer */
#footer {
  width: 100%;
  height: 89px;
  background-color: var(--footer-color);
}

#copy {
  color: var(--bg-color);
  font-size: 16px;
  font-weight: var(--font-regular);
  text-align: center;
  line-height: 89px;
}
